input[type="radio"] {
    display: none;
}

.auto {
color: grey;
}

.clasificacion {
direction: rtl;
unicode-bidi: bidi-override;
font-size: 23px;
}

.auto:hover,
.auto:hover ~ label {
color: tomato;
}

input[type="radio"]:checked ~ label {
color: tomato;
}
.badge-tomato{color:#fff;background-color:rgba(253, 110, 85, 0.89)}
a.badge-tomato:focus,
a.badge-tomato:hover{color:#fff;background-color:rgba(253, 110, 85, 0.89)}
a.badge-tomato.focus,
a.badge-tomato:focus{outline:0;box-shadow:0 0 0 .2rem rgba(23,162,184,.5)}
.btn-tomato{color:#fff;background-color:#6c757d;border-color:#6c757d}
.btn-tomato:hover{color:#fff;background-color:tomato;border-color:rgb(145, 55, 39)}
.btn-tomato.focus,.btn-tomato:focus{box-shadow:0 0 0 .2rem rgba(130,138,145,.5)}
.btn-tomato.disabled,
.btn-tomato:disabled{color:#fff;background-color:#6c757d;border-color:#6c757d}
.btn-tomato:not(:disabled):not(.disabled).active,
.btn-tomato:not(:disabled):not(.disabled):active,.show>
.btn-tomato.dropdown-toggle{color:#fff;background-color:#545b62;border-color:#4e555b}
.btn-tomato:not(:disabled):not(.disabled).active:focus,
.btn-tomato:not(:disabled):not(.disabled):active:focus,.show>
.btn-tomato.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(130,138,145,.5)}